<!-- <h1>Demoindex</h1> -->
<h1>ERB plus HTML</h1>
<p>Embedding Ruby in HTML files</p>
<p>
<%= 1 + 1 %>
<% target = "Our World" %>
</p>

<!--Here is how to embedd ruby in html -->

<p><%= "Hello #{target}" %> </p>

<% 3.times do %>
 We are: <%= "GIG" %><br/>

<% end %>