/******************************************************************************
							Space Adjustments
*******************************************************************************/
.no-pad{
	padding:0;
}
.no-margin {
    margin: 0;
}
/* Custom Height */

.height-200{
	height:200px;
}
.height-400{
	height:400px;
}
.height-500{
	height:500px;
}
.height-600{
	height:600px;
}
.height-700{
	height:700px;
}

/* 4 Side Padding */
.pad-5{
	padding:5px;
}
.pad-10{
	padding:10px;
}
.pad-20{
	padding:20px;
}
.pad-30{
	padding:30px;
}
.pad-40{
	padding:40px;
}
.pad-50{
	padding:50px;
}
.pad-60{
	padding:60px;
}
.pad-70{
	padding:70px;
}
.pad-80{
	padding:80px;
}
/* 4 Side Margin */

.margin-5{
	margin:5px;
}
.margin-10{
	margin:10px;
}
.margin-20{
	margin:20px;
}
.margin-30{
	margin:30px;
}
.margin-40{
	margin:40px;
}
.margin-50{
	margin:50px;
}
.margin-60{
	margin:60px;
}
.margin-70{
	margin:70px;
}
.margin-80{
	margin:80px;
}
/* Top Padding */
.top-pad-0{
	padding-top:0px;
}
.top-pad-5{
	padding-top:5px;
}
.top-pad-10{
	padding-top:10px;
}
.top-pad-20{
	padding-top:20px;
}
.top-pad-30{
	padding-top:30px;
}
.top-pad-40{
	padding-top:40px;
}
.top-pad-50{
	padding-top:50px;
}
.top-pad-60{
	padding-top:60px;
}
.top-pad-70{
	padding-top:70px;
}
.top-pad-80{
	padding-top:80px;
}
/* Top Margin */
.top-margin-0{
	margin-top:0px;
}
.top-margin-5{
	margin-top:5px;
}
.top-margin-10{
	margin-top:10px;
}
.top-margin-20{
	margin-top:20px;
}
.top-margin-30{
	margin-top:30px;
}
.top-margin-40{
	margin-top:40px;
}
.top-margin-50{
	margin-top:50px;
}
.top-margin-60{
	margin-top:60px;
}
.top-margin-70{
	margin-top:70px;
}
.top-margin-80{
	margin-top:80px;
}
/* Bottom Padding */
.bottom-pad-0{
	padding-bottom:0px !important;
}
.bottom-pad-5{
	padding-bottom:5px !important;
}
.bottom-pad-10{
	padding-bottom:10px !important;
}
.bottom-pad-20{
	padding-bottom:20px;
}
.bottom-pad-30{
	padding-bottom:30px;
}
.bottom-pad-40{
	padding-bottom:40px;
}
.bottom-pad-50{
	padding-bottom:50px;
}
.bottom-pad-60{
	padding-bottom:60px;
}
.bottom-pad-70{
	padding-bottom:70px;
}
.bottom-pad-80{
	padding-bottom:80px;
}
/* Bottom Margin */
.bottom-margin-0{
	margin-bottom:0px;
}
.bottom-margin-5{
	margin-bottom:5px;
}
.bottom-margin-10{
	margin-bottom:10px;
}
.bottom-margin-20{
	margin-bottom:20px;
}
.bottom-margin-30{
	margin-bottom:30px;
}
.bottom-margin-40{
	margin-bottom:40px;
}
.bottom-margin-50{
	margin-bottom:50px;
}
.bottom-margin-60{
	margin-bottom:60px;
}
.bottom-margin-70{
	margin-bottom:70px;
}
.bottom-margin-80{
	margin-bottom:80px;
}
/* Top & Bottom Padding */
.tb-pad-5{
	padding-top:5px;
	padding-bottom:5px;
}
.tb-pad-10{
	padding-top:10px;
	padding-bottom:10px;
}
.tb-pad-20{
	padding-top:20px;
	padding-bottom:20px;
}
.tb-pad-30{
	padding-top:30px;
	padding-bottom:30px;
}
.tb-pad-40{
	padding-top:40px;
	padding-bottom:40px;
}
.tb-pad-50{
	padding-top:50px;
	padding-bottom:50px;
}
.tb-pad-60{
	padding-top:60px;
	padding-bottom:60px;
}
.tb-pad-70{
	padding-top:70px;
	padding-bottom:70px;
}
.tb-pad-80{
	padding-top:80px;
	padding-bottom:80px;
}
/* Left & Right Padding */
.lr-pad-5{
	padding-left:5px;
	padding-right:5px;
}
.lr-pad-10{
	padding-left:10px;
	padding-right:10px;
}
.lr-pad-20{
	padding-left:20px;
	padding-right:20px;
}
.lr-pad-30{
	padding-left:30px;
	padding-right:30px;
}
.lr-pad-40{
	padding-left:40px;
	padding-right:40px;
}
.lr-pad-50{
	padding-left:50px;
	padding-right:50px;
}
.lr-pad-60{
	padding-left:60px;
	padding-right:60px;
}
.lr-pad-70{
	padding-left:70px;
	padding-right:70px;
}
.lr-pad-80{
	padding-left:80px;
	padding-right:80px;
}

/* Top & Bottom Margin */
.tb-margin-5{
	margin-top:5px;
	margin-bottom:5px;
}
.tb-margin-10{
	margin-top:10px;
	margin-bottom:10px;
}
.tb-margin-20{
	margin-top:20px;
	margin-bottom:20px;
}
.tb-margin-30{
	margin-top:30px;
	margin-bottom:30px;
}
.tb-margin-40{
	margin-top:40px;
	margin-bottom:40px;
}
.tb-margin-50{
	margin-top:50px;
	margin-bottom:50px;
}
.tb-margin-60{
	margin-top:60px;
	margin-bottom:60px;
}
.tb-margin-70{
	margin-top:70px;
	margin-bottom:70px;
}
.tb-margin-80{
	margin-top:80px;
	margin-bottom:80px;
}
/* left & right Margin */
.lr-margin-5{
	margin-left:5px;
	margin-right:5px;
}
.lr-margin-10{
	margin-left:10px;
	margin-right:10px;
}
.lr-margin-20{
	margin-left:20px;
	margin-right:20px;
}
.lr-margin-30{
	margin-left:30px;
	margin-right:30px;
}
.lr-margin-40{
	margin-left:40px;
	margin-right:40px;
}
.lr-margin-50{
	margin-left:50px;
	margin-right:50px;
}
.lr-margin-60{
	margin-left:60px;
	margin-right:60px;
}
.lr-margin-70{
	margin-left:70px;
	margin-right:70px;
}
.lr-margin-80{
	margin-left:80px;
	margin-right:80px;
}

/* Item Box */
.boxed-block{
	border: 1px solid #cccccc;
}
.inline-block{
	display:inline-block;
    vertical-align: middle;
}
.bg-hover-gray:hover{
	background-color:rgba(0,0,0,.6);
}