<% @page_title = "Welocme to GIFORTRESS Learning" %>
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Explore Our Simple CMS...
                    </h1>
                    <hr class="my-4"/>
                    <p>#1st GIFORTRESS Rails apps...</p>
                    <a href="#" class="btn btn-warning">Explore your world</a>
                </div>
            </div>
        </div>        
        <div class="row">
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <%= image_tag('imgs/slide_biz.jpg', :class => 'card-img-top', :alt => 'Business On Spot', :title => 'Business On Spot') %>
                    <div class="card-body">
                        <h5 class="card-title">GI Fotress <span class="badge badge-warning">Business</span></h5>
                        <p class="card-text">Business on Spot</p>
                        <a href="#" class="btn btn-warning">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">                   
                    <%= image_tag('imgs/partship.jpg', :class => 'card-img-top') %>
                    <div class="card-body">
                        <h5 class="card-title">GIFotress <span class="badge badge-info">Partnership</span></h5>
                        <p class="card-text">Happy Customer</p>
                        <a href="#" class="btn btn-warning">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    
                    <%= image_tag('imgs/satisfied.jpg', :class => 'card-img-top') %>
                    <div class="card-body">
                        <h5 class="card-title">GI Fotress <span class="badge badge-danger">Satisfied</span></h5>
                        <p class="card-text">Our sure partnership</p>
                        <a href="#" class="btn btn-warning">Learn more</a>
                    </div>
            </div>
         	</div>
       
        
